<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= current_page.data.title || "HookFeed Blog" %></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Always force latest IE rendering engine or request Chrome Frame -->
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

  <%= stylesheet_link_tag  "application" %>
  <%= javascript_include_tag  "application" %>

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="../assets/js/html5shiv.js"></script>
  <![endif]-->

  <!-- TypeKit -->
  <script type="text/javascript" src="//use.typekit.net/qee5bpm.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <%= partial 'partials/mixpanel' %>
</head>

<body id="blog_layout" class="<%= page_classes %>">
  <!-- Twitter -->
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
  </script>

  <!-- Google+ -->
  <script type="text/javascript">
    (function() {
      var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
      po.src = 'https://apis.google.com/js/platform.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
  </script>

  <!-- Facebook Like Button -->
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>

  <!-- Buffer -->
  <script type="text/javascript" src="http://static.bufferapp.com/js/button.js"></script>

  <!-- Follow Me Button -->
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

  <section id="header_bar_banner">
    <div id="header_bar" class="container">
      <div class="sixteen columns">
        <div id="logo">
          <%= link_to '<img src="https://s3.amazonaws.com/HookFeed/hookfeed_logo_retina.png" width="130" height="24">', '/' %>
        </div>
        <nav>
          <%= link_to 'About HookFeed', '/' %>
          <%= link_to 'Blog', '/blog' %>
          <%= link_to 'Login', 'https://secure.hookfeed.com/login' %>
        </nav>
      </div><!-- END .sixteen.columns -->
    </div><!-- END #header_bar.container -->
  </section><!-- END #header_bar_banner -->

  <section id="blog_banner">
    <div id="blog" class="container">
      <div class="ten columns offset-by-three">
        <%= yield %>
      </div><!-- END .ten.columns.offset-by-three -->
    </div><!-- END #blog.container -->
  </section> <!-- END #blog_banner -->

  <section id="sharing_banner">
    <div id="sharing" class="container">
      <div class="ten columns offset-by-three">
        <div id="anchor_divider">a</div>
        <p>If you liked this article it would mean a lot to me if you'd share it!</p>
        <!-- Twitter -->
        <div id="twitter">
          <a href="https://twitter.com/share" class="twitter-share-button" data-via="HookFeed">Tweet</a>
        </div><!-- END #twitter -->
        <!-- Buffer -->
        <div id="buffer">
          <a href="http://bufferapp.com/add" class="buffer-add-button" data-count="horizontal" data-via="HookFeed" >Buffer</a><script type="text/javascript" src="http://static.bufferapp.com/js/button.js"></script>
        </div><!-- END #buffer -->
        <!-- Google+ -->
        <div id="googleplus">
          <div class="g-plusone"></div>
        </div><!-- END #googleplus -->
        <!-- Facebook -->
        <div id="facebook">
          <div class="fb-like" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false">
          </div>
        </div><!-- END #facebook -->
      </div><!-- END .ten columns offset-by-three -->
    </div><!-- END #sharing.container -->
  </section> <!-- END #sharing_banner -->

  <section id="promo_banner">
    <div id="promo" class="container">
      <div class="ten columns offset-by-three">
        <div class="promo_inner" id="hookfeed_promo">
          <a href="/"><img src="https://s3.amazonaws.com/smallhq/hookfeed_promo%402x.png" width="560" class="scale-with-grid"></a>
        </div> <!-- END #hookfeed_promo -->
      </div><!-- END .ten columns offset-by-three -->
    </div><!-- END #promo.container -->
  </section> <!-- END #promo_banner -->

  <section id="bio_banner">
    <div id="bio" class="container">
      <div class="ten columns offset-by-three">
        <h4>About the Author</h4>
        <%= partial "authors/#{current_page.data.author}" %>
      </div><!-- END .ten columns offset-by-three -->
    </div><!-- END #bio.container -->
  </section> <!-- END #bio_banner -->

  <% unless development? %>
    <!-- Google Analytics -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-40298732-1']);
      _gaq.push(['_setDomainName', 'hookfeed.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <!-- END Google Analytics -->
  <% end %>
</body>
</html>