<!DOCTYPE html>
<html lang="en">
  <head>
    <%= partial 'partials/meta/meta' %>
  </head>

  <body class="<%= page_classes %>">
    <%= partial 'partials/blog/social_meta' %>

    <%= partial 'partials/header' %>

    <section id="blog_banner">
      <div id="blog" class="container">
        <article class="twelve columns offset-by-two">
          <aside id="sidebar">
            <div id="sharing">
              <div id="twitter">
                <a href="https://twitter.com/share" class="twitter-share-button" data-via="HookFeed" data-size="large">Tweet</a>
                <a href="https://twitter.com/HookFeed" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @HookFeed</a>
              </div>
            </div>
          </aside>

          <%= yield %>
        </article><!-- END .ten.columns -->

        <!--<aside class="three columns" id="sidebar">
          <div id="sharing">
            <div id="twitter">
              <a href="https://twitter.com/share" class="twitter-share-button" data-via="HookFeed" data-size="large">Tweet</a>
              <a href="https://twitter.com/HookFeed" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @HookFeed</a>
            </div>
          </div>
        </aside> END .five.columns -->
      </div><!-- END #blog.container -->
    </section> <!-- END #blog_banner -->


    <%= partial 'partials/blog/social_sharing' %>

    <%= partial 'partials/blog/promotion' %>

    <%= partial 'partials/blog/author_bio' %>

    <%= partial 'partials/footer' %>

    <%= partial 'partials/blog/subscription_bar' %>
  </body>
</html>