<!DOCTYPE html>
<html lang="en">
  <head>
    <%= partial 'partials/meta/meta' %>
  </head>

  <body class="<%= page_classes %>">
    <%= partial 'partials/header' unless current_page.url == '/one-page/' %>

    <%= yield %>

    <%= partial 'partials/footer' %>
  </body>
</html>