<section id="header_bar_banner">
  <div id="header_bar" class="container">
    <div class="sixteen columns">
      <div id="logo">
        <a href="/"><img src="https://d2uerwjzv5u4r9.cloudfront.net/HookFeed_Logo_Light.png" width="150"></a>
      </div>

      <nav>
        <%= link_to 'Benefits', '/benefits' %>
        <%= link_to 'Pricing', '/pricing' %>
        <%= link_to 'Free Guides', '/guides' %>
        <%= link_to 'Blog', '/blog' %>
        <%= link_to 'Login', "#{(development?) ? 'http' : 'https'}://secure.hookfeed.#{(development?) ? 'dev' : 'com'}/login" %>
      </nav>
    </div><!-- END .sixteen.columns -->
  </div><!-- END #header_bar.container -->
</section><!-- END #header_bar_banner -->