<% if current_page.url == '/' %>
  <!-- Homepage long-form split test -->
  <!-- Google Analytics Content Experiment code -->
  <script>function utmx_section(){}function utmx(){}(function(){var
  k='71492295-2',d=document,l=d.location,c=d.cookie;
  if(l.search.indexOf('utm_expid='+k)>0)return;
  function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
  indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
  length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
  '<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
  '://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
  '&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
  valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
  '" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
  </script><script>utmx('url','A/B');</script>
  <!-- End of Google Analytics Content Experiment code -->
<% end %>

<meta charset="utf-8">
<title><%= current_page.data.title || "HookFeed" %></title>
<meta name="description" content="<%= current_page.data.description || '' %>">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"><!-- Force latest IE rendering/request Chrome Frame -->

<%= partial 'partials/meta/favicons' %>

<%= stylesheet_link_tag  "application" %>
<%= javascript_include_tag "application" %>

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- TypeKit -->
<script type="text/javascript" src="//use.typekit.net/qee5bpm.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

<%= partial 'partials/analytics/segment_io' %>