<section id="testimonials_banner">
  <div id="testimonials" class="container">
    <div class="row">
      <div class="left_half columns">
        <div class="testimonial">
          <a href="#"><img src="http://placehold.it/88x88/cdd2d8/ffffff" width="88" height="88"></a>
          <h2><a href="#">Hiten Shah</a></h2>
          <h3><a href="#">KISSmetrics</a></h3>
          <p>Lorem ipsum dolor sit amet. Sit dolor lorem amet amet sit ipsum. Sit amet dolor lorem ipsum!</p>
        </div><!-- END .testimonial -->
      </div><!-- END .left_half.columns -->

      <div class="right_half columns">
        <div class="testimonial">
          <a href="#"><img src="http://placehold.it/88x88/cdd2d8/ffffff" width="88" height="88"></a>
          <h2><a href="#">Allan Branch</a></h2>
          <h3><a href="#">LessAccounting</a></h3>
          <p>Lorem ipsum dolor sit amet. Sit dolor lorem amet amet sit ipsum. Sit amet dolor lorem ipsum!</p>
        </div><!-- END .testimonial -->
      </div><!-- END .right_half.columns -->
    </div><!-- END .row -->

    <div class="row">
      <div class="left_half columns">
        <div class="testimonial">
          <a href="#"><img src="http://placehold.it/88x88/cdd2d8/ffffff" width="88" height="88"></a>
          <h2><a href="#">Garrett Dimon</a></h2>
          <h3><a href="#">Sifter</a></h3>
          <p>Lorem ipsum dolor sit amet. Sit dolor lorem amet amet sit ipsum. Sit amet dolor lorem ipsum!</p>
        </div><!-- END .testimonial -->
      </div><!-- END .left_half.columns -->

      <div class="right_half columns">
        <div class="testimonial">
          <a href="#"><img src="http://placehold.it/88x88/cdd2d8/ffffff" width="88" height="88"></a>
          <h2><a href="#">Ruben Gamez</a></h2>
          <h3><a href="#">Bidsketch</a></h3>
          <p>Lorem ipsum dolor sit amet. Sit dolor lorem amet amet sit ipsum. Sit amet dolor lorem ipsum!</p>
        </div><!-- END .testimonial -->
      </div><!-- END .right_half.columns -->
    </div><!-- END .row -->

    <div class="sixteen columns" id="companies_using">
      <div id="anchor_divider">a</div>

      <h3>Some Awesome Companies using HookFeed</h3>

      <div class="four columns alpha">
        <a href="#"><img src="https://s3.amazonaws.com/HookFeed/brandisty.png" width="220" class="scale-with-grid"></a>
      </div><!-- END .four.columns.alpha -->

      <div class="four columns">
        <a href="#"><img src="https://s3.amazonaws.com/HookFeed/watsi.png" width="220" class="scale-with-grid"></a>
      </div><!-- END .four.columns -->

      <div class="four columns">
        <a href="#"><img src="https://s3.amazonaws.com/HookFeed/churnbuster.png" width="220" class="scale-with-grid"></a>
      </div><!-- END .four.columns -->

      <div class="four columns omega">
        <a href="#"><img src="https://s3.amazonaws.com/HookFeed/watsi.png" width="220" class="scale-with-grid"></a>
      </div><!-- END .four.columns.omega -->

    </div><!-- END #companies_using -->
  </div><!-- END #benefits.container -->
</section><!-- END #benefits_banner -->



<section id="pricing_banner">
  <div id="pricing" class="container">
    <div id="pricing_headlines">
      <h1>One-Click Setup. No Code. <strong>Just Awesomeness</strong>.</h1>
      <h2>Get Started with a Risk-Free 14-Day Trial</h2>
    </div><!-- END #pricing_headlines -->

    <div id="interval_toggle">
      <a href="#" id="toggle_monthly" class="active">Monthly</a><a href="#" id="toggle_annual">Annual</a>
    </div><!-- END #interval_toggle -->

    <div class="sixteen columns" id="pricing_table">
      <div id="labels">
        <span class="label">Recipients</span>
        <span class="label">Stripe Accounts</span>
        <span class="label">Email Alerts</span>
        <span class="label">Daily Digests</span>
        <span class="label">Weekly Digests</span>
      </div><!-- END #labels -->

      <div id="dev_plan" class="plan">
        <div id="max_transactions_notice">Less than 20<br>monthly transactions?</div>

        <h3>Dev</h3>

        <ul>
          <li>1<span> Recipient</span></li>
          <li>Unlimited<span> Stripe Accounts</span></li>
          <li class="yup">3<span>Email Alerts</span></li>
          <li class="nope">*<span>Daily Digests</span></li>
          <li class="nope">*<span>Weekly Digests</span></li>
        </ul>

        <div class="price">$0<span class="interval">/month</spn></div>

        <a href="<%= (development?) ? 'http' : 'https' %>://secure.hookfeed.<%= (development?) ? 'dev' : 'com' %>/users/new?p=dev_0_14_1_monthly" class="signup">Sign Up</a>
      </div><!-- END #dev_plan -->

      <div id="solo_plan" class="plan">
        <h3>Solo</h3>

        <ul>
          <li>1<span> Recipient</span></li>
          <li>Unlimited<span> Stripe Accounts</span></li>
          <li class="yup">3<span>Email Alerts</span></li>
          <li class="yup">3<span>Daily Digests</span></li>
          <li class="yup">3<span>Weekly Digests</span></li>
        </ul>

        <div class="price">$12<span class="interval">/month</spn></div>

        <a href="<%= (development?) ? 'http' : 'https' %>://secure.hookfeed.<%= (development?) ? 'dev' : 'com' %>/users/new?p=solo_1200_14_1_monthly" class="signup">Start Trial</a>
      </div><!-- END #solo_plan -->

      <div id="startup_plan" class="plan">
        <h3>Startup</h3>

        <ul>
          <li>3<span> Recipients</span></li>
          <li>Unlimited<span> Stripe Accounts</span></li>
          <li class="yup">3<span>Email Alerts</span></li>
          <li class="yup">3<span>Daily Digests</span></li>
          <li class="yup">3<span>Weekly Digests</span></li>
        </ul>

        <div class="price">$24<span class="interval">/month</spn></div>

        <a href="<%= (development?) ? 'http' : 'https' %>://secure.hookfeed.<%= (development?) ? 'dev' : 'com' %>/users/new?p=startup_2400_14_3_monthly" class="signup">Start Trial</a>
      </div><!-- END #startup_plan -->

      <div id="business_plan" class="plan">
        <h3>Business</h3>

        <ul>
          <li>10<span> Recipients</span></li>
          <li>Unlimited<span> Stripe Accounts</span></li>
          <li class="yup">3<span>Email Alerts</span></li>
          <li class="yup">3<span>Daily Digests</span></li>
          <li class="yup">3<span>Weekly Digests</span></li>
        </ul>

        <div class="price">$72<span class="interval">/month</spn></div>

        <a href="<%= (development?) ? 'http' : 'https' %>://secure.hookfeed.<%= (development?) ? 'dev' : 'com' %>/users/new?p=business_7200_14_10_monthly" class="signup">Start Trial</a>
      </div><!-- END #business_plan -->
    </div><!-- END #pricing_table -->
  </div><!-- END #pricing.container -->
</section><!-- END #pricing_banner -->




<section id="faqs_banner">
  <div id="faqs" class="container">

    <div class="sixteen columns">
      <h2>FAQs</h2>
    </div><!-- END .sixteen.columns -->

    <div class="row">
      <div class="left_half columns">
        <dl>
          <dt>Is HookFeed Secure?</dt>
          <dd>Completely. When you connect HookFeed to you Stripe account you’re giving read-only access. And we’ll never share your information with anyone.</dd>

          <dt>Can I pick what events get sent to me?</dt>
          <dd>Yes. Once you’re logged into your HookFeed account you can choose which events get sent to you in an instant email alert, and which events will be compiled into a daily and/or weekly digest email. You'll do the same for any teammates you add.</dd>

          <dt>Can I connect more than one account?</dt>
          <dd>Yes. Connect as many Stripe accounts as you like - it’s easy to add and remove each account once you’re logged into HookFeed.</dd>

          <dt>Which Stripe events do you track?</dt>
          <dd>Currently we track Charges, Failed Charges, Refunds, New Subscribers, Cancellations, Bank Transfers, Failed Bank Transfers, Disputed Charges, and Settled Disputes. We are open to your suggestions for other events. A full list of events from Stripe can be found <a href="https://stripe.com/docs/api#list_events">here</a>.</dd>
        </dl>
      </div><!-- END .left_half.columns -->

      <div class="right_half columns">
        <dl>

          <dt>Do I need to know how to code?</dt>
          <dd>No! You can connect your Stripe account to HookFeed in one click. Literally. No code necessary.</dd>

          <dt>What happens when I exceed 20 transactions in a month?</dt>
          <dd>When you exceed 20 transactions we’ll let you know. We’ll automatically bump you up to the lowest plan so there's no disruption to your service. If you choose to cancel we won’t charge you anything.</dd>

          <dt>Can I cancel anytime?</dt>
          <dd>Yes. We’ll be sad to see you go, but if HookFeed isn’t for you we totally understand. We make it super easy to cancel your service and disconnect your Stripe account.</dd>

          <dt>Who do I contact for help?</dt>
          <dd>Matt and Joelle. We’re running the show but always have time to chat with you. In fact, we love hearing from you - so even if you don’t have a specific question, feel free to just say hi!</dd>
        </dl>
      </div><!-- END .right_half.columns -->
    </div><!-- END .row -->

    <footer>
      <a href="mailto:support@hookfeed.com">Support</a>
      <span>Built by <a href="http://www.smallhq.com">Small HQ</a> &nbsp;|&nbsp;  <a href="http://www.madeinsd.org"> Made in SD</a></span>
    </footer>
  </div><!-- END #faqs.container -->
</section><!-- END #faqs_banner -->