---
title: HookFeed - Stripe Email Notifications and Digest Analytics
priority: 1
changefreq: daily
---

<section id="headline_banner">
  <div id="headline" class="container">
    <div class="sixteen columns">
      <h1>Stop missing important<img src="https://s3.amazonaws.com/HookFeed/stripe_logo.png" height="50" width="122">events</h1>
      <h2>We notify you of <span data-typer-targets="failed charges, failed bank transfers, successful bank transfers, refunded charges, new subscriptions, canceled subscriptions, disputed charges">disputed charges</span></h2>

      <a href="#pricing_banner">Start 14-Day Free Trial</a>
      <div class="nudge"><u>Limited Time Offer</u> thru 12/31:<br>Get 3 months free when you sign up for an annual plan</div>

    </div><!-- END .sixteen.columns -->
  </div><!-- END #headline.container -->
</section><!-- END #headline_banner -->




<section id="benefits_banner">
  <div id="benefits" class="container">
    <div id="email_diagrams">
      <div class="left_half columns" id="alert_diagram">
        <h2>Instant Email Alerts</h2>
        <h3>When critical events happen</h3>
        <img src="https://s3.amazonaws.com/HookFeed/alert_diagram.png" width="426" class="scale-with-grid">
      </div><!-- END #alert_diagram -->

      <div class="right_half columns" id="digest_diagram">
        <h2>Summary Digest Emails</h2>
        <h3>Sent daily and/or weekly</h3>
          <img src="https://s3.amazonaws.com/HookFeed/digest_diagram_b.png" width="426" class="scale-with-grid">
      </div><!-- END #digest_diagram -->
    </div><!-- END #email_diagrams -->

    <div class="twelve columns offset-by-two" id="customize_your_events">
      <p>You choose exactly which Stripe events you want, and when you want them.</p>
    </div>

    <div id="six_benefits">
      <div class="row">
        <div class="left_tri columns benefit">
          <span>Q</span>
          <h2>One-Click Connect</h2>
          <p>Connect your Stripe account to HookFeed with just <b>one click</b>. <u>No code necessary</u>. Be up and running in less than a minute.</p>
        </div><!-- END .benefit -->

        <div class="center_tri columns benefit">
          <span>!</span>
          <h2>Instant Email Alerts</h2>
          <p>When something important happens, you need to know about it - especially when it's critical events like disputed/failed charges.</p>
        </div><!-- END .benefit -->

        <div class="right_tri columns benefit">
          <span>N</span>
          <h2>Digest Emails</h2>
          <p>Not every event in your account needs your immediate attention. Want a weekly summary of new signups? No problem!</p>
        </div><!-- END .benefit -->
      </div><!-- END .row -->

      <div class="row">
        <div class="left_tri columns benefit">
          <span id="team">g</span>
          <h2>Send to Your Team</h2>
          <p>Choose what Stripe events get sent to individual teammates. Send Ben alerts only when charges fail or disputes are filed.</p>
        </div><!-- END .benefit -->

        <div class="center_tri columns benefit">
          <span>Y</span>
          <h2>Data Comparisons</h2>
          <p>Digest emails include basic analytics for week over week (or day over day) comparisons for all your chosen events.</p>
        </div><!-- END .benefit -->

        <div class="right_tri columns benefit">
        <span>;</span>
        <h2>Integrate with Other Apps</h2>
          <p>Send notifications directly to Evernote, Flowdock or other apps that you already use for communication with your team.</p>
        </div><!-- END .benefit -->
      </div><!-- END .row -->
    </div><!-- END #six_benefits -->
  </div><!-- END #benefits.container -->
</section><!-- END #benefits_banner -->

<section id="testimonials_banner">
  <div id="testimonials" class="container">
    <div class="row">
      <div class="left_half columns">
        <div class="testimonial">
          <a href="https://twitter.com/collision"><img src="https://s3.amazonaws.com/HookFeed/john_collison.jpg" width="88" height="88"></a>
          <h2><a href="https://twitter.com/collision">John Collison</a></h2>
          <h3><a href="https://stripe.com">Co-Founder of Stripe</a></h3>
          <p>"This is one of the things I've been hoping someone would build since we launched."</p>
        </div><!-- END .testimonial -->
      </div><!-- END .left_half.columns -->

      <div class="right_half columns">
        <div class="testimonial">
          <a href="https://twitter.com/michaelsacca"><img src="https://s3.amazonaws.com/HookFeed/michael_sacca.jpg" width="88" height="88"></a>
          <h2><a href="https://twitter.com/michaelsacca">Michael Sacca</a></h2>
          <h3><a href="https://brandisty.com/">Founder of Brandisty</a></h3>
          <p>"HookFeed solves a major problem for our team. Digests especially help us assign actionable events to eachother."</p>
        </div><!-- END .testimonial -->
      </div><!-- END .right_half.columns -->
    </div><!-- END .row -->
  </div><!-- END #benefits.container -->
</section><!-- END #benefits_banner -->

<section id="pricing_banner">
  <div id="pricing" class="container">
    <div id="pricing_headlines">
      <h1>Get Started with a <u>Risk-Free</u> 14-Day Trial</h1>
    </div><!-- END #pricing_headlines -->

    <div class="sixteen columns" id="pricing_table">
      <div id="labels">
        <span class="label">Recipients</span>
        <span class="label">Email Alerts</span>
        <span class="label">Weekly Digests</span>
        <span class="label">Daily Digests</span>
      </div><!-- END #labels -->

      <div id="solo_plan" class="plan">
        <h3>Solo</h3>

        <ul>
          <li>1 Recipient</li>
          <li class="yup">3<span>Email Alerts</span></li>
          <li class="nope">*<span>Weekly Digests</span></li>
          <li class="nope">*<span>Daily Digests</span></li>
        </ul>

        <form class="annual_offer">
          <label><input type="checkbox" name="annual" value="annual" data-yearly-plan-id="solo_8100_yearly">I want three months free</label>
        </form>

        <div class="monthly_price">$9<span class="interval">/month</span></div>
        <div class="yearly_price">$81<span class="interval">/year</span><span class="yearly_discount">Save $27 by<br>paying annually</span></div>

        <a href="<%= (development?) ? 'http' : 'https' %>://secure.hookfeed.<%= (development?) ? 'dev' : 'com' %>/users/new?p=solo_900_monthly" class="signup" data-monthly-plan-id="solo_900_monthly">Start Free<br>14-Day Trial</a>
      </div><!-- END #solo_plan -->

      <div id="startup_plan" class="plan">
        <h3>Startup</h3>

        <ul>
          <li>5 Recipients</li>
          <li class="yup">3<span>Email Alerts</span></li>
          <li class="yup">3<span>Weekly Digests</span></li>
          <li class="nope">*<span>Daily Digests</span></li>
        </ul>

        <form class="annual_offer">
          <label><input type="checkbox" name="annual" value="annual" data-yearly-plan-id="startup_17100_yearly">I want three months free</label>
        </form>

        <div class="monthly_price">$19<span class="interval">/month</span></div>
        <div class="yearly_price">$171<span class="interval">/year</span><span class="yearly_discount">Save $57 by<br>paying annually</span></div>

        <a href="<%= (development?) ? 'http' : 'https' %>://secure.hookfeed.<%= (development?) ? 'dev' : 'com' %>/users/new?p=startup_1900_monthly" class="signup" data-monthly-plan-id="startup_1900_monthly">Start Free<br>14-Day Trial</a>
      </div><!-- END #startup_plan -->

      <div id="business_plan" class="plan">
        <h3>Business</h3>

        <ul>
          <li>10 Recipients</li>
          <li class="yup">3<span>Email Alerts</span></li>
          <li class="yup">3<span>Weekly Digests</span></li>
          <li class="yup">3<span>Daily Digests</span></li>
        </ul>

        <form class="annual_offer">
          <label><input type="checkbox" name="annual" value="annual" data-yearly-plan-id="business_35100_yearly">I want three months free</label>
        </form>

        <div class="monthly_price">$39<span class="interval">/month</span></div>
        <div class="yearly_price">$351<span class="interval">/year</span><span class="yearly_discount">Save $117 by<br>paying annually</span></div>

        <a href="<%= (development?) ? 'http' : 'https' %>://secure.hookfeed.<%= (development?) ? 'dev' : 'com' %>/users/new?p=business_3900_monthly" class="signup" data-monthly-plan-id="business_3900_monthly">Start Free<br>14-Day Trial</a>
      </div><!-- END #business_plan -->
    </div><!-- END #pricing_table -->
  </div><!-- END #pricing.container -->
</section><!-- END #pricing_banner -->


<section id="faqs_banner">
  <div id="faqs" class="container">

    <div class="sixteen columns">
      <h2>FAQs</h2>
    </div><!-- END .sixteen.columns -->

    <div class="row">
      <div class="left_half columns">
        <dl>
          <dt>Is HookFeed Secure?</dt>
          <dd>Completely. When you connect HookFeed to your Stripe account you’re giving us read-only access. All interactions within the app are SSL encrypted. And we’ll never share your information with anyone.</dd>

          <dt>Can I cancel anytime?</dt>
          <dd>Yes. We’ll be sad to see you go, but if HookFeed isn’t for you we totally understand. We make it super easy to cancel your service and disconnect your Stripe account.</dd>

          <dt>Which Stripe events do you track?</dt>
          <dd>Currently we track Charges, Failed Charges, Refunds, New Subscribers, Cancellations, Bank Transfers, Failed Bank Transfers, Disputed Charges, and Settled Disputes. We are open to your suggestions for other events. A full list of events from Stripe can be found <a href="https://stripe.com/docs/api#list_events">here</a>.</dd>
        </dl>
      </div><!-- END .left_half.columns -->

      <div class="right_half columns">
        <dl>

          <dt>Do I need to know how to code?</dt>
          <dd>No! You can connect your Stripe account to HookFeed in one click. Literally. No code necessary.</dd>

          <dt>Can I pick what events get sent to me?</dt>
          <dd>Yes. Once you’re logged into your HookFeed account you can choose which events get sent to you in an instant email alert, and which events will be compiled into a daily and/or weekly digest email. You'll do the same for any teammates you add.</dd>

          <dt>Who do I contact for help?</dt>
          <dd><a href="https://twitter.com/SDMattG">Matt</a> and  <a href="https://twitter.com/JoelleSteiniger">Joelle</a>. We’re running the show but always have time to chat with you. In fact, we love hearing from you - so even if you don’t have a specific question, feel free to just say hi! <br>You can email us at <a href="mailto:support@hookfeed.com">support@hookfeed.com</a></dd>
        </dl>
      </div><!-- END .right_half.columns -->
    </div><!-- END .row -->

    <footer>
      <a href="mailto:support@hookfeed.com">Support</a>
      <span>Built by <a href="http://www.smallhq.com">Small HQ</a> &nbsp;|&nbsp;  <a href="http://www.madeinsd.org"> Made in SD</a></span>
    </footer>
  </div><!-- END #faqs.container -->
</section><!-- END #faqs_banner -->


