---
title: "Pricing | HookFeed: Customer Analytics and Email Alerts for Stripe (SaaS/E-Commerce)"
priority: 1
changefreq: daily
layout: pricing_layout
---

<%= javascript_include_tag "pricing" %>

<section id="pricing_banner">
  <div id="pricing" class="container">
    <div id="pricing_headlines" class="sixteen columns">
      <h1>Start Boosting Your Revenue in Minutes.</h1>
      <h2>Try It Free For 7 Days.</h2>
    </div><!-- END #pricing_headlines -->

    <div class="row" id="pricing_buckets">

      <div class="sixteen columns" id="annual_toggle_container">
        <label id="annual_toggle"><input type="checkbox"> I want 2 months free</label>
      </div>
      <div class="four columns pricing_bucket">
        <div class="inner">
          <h2>Pro</h2>
          <h3>$399<span>/month</span></h3>
          <ul>
            <li class="teammates_limit"><span>10</span><strong>Team Members</strong></li>
            <li class="customers_limit"><span>3,000</span><strong>Paying Customers</strong></li>
          </ul>
          <hr>
          <ul>
            <li>Customer Analytics</strong></li>
            <li>Instant Email Alerts</li>
            <li>Summary Emails</li>
            <li><strong>Phone</strong> &amp; Email Support</li>
          </ul>
          <a class="signup" href="<%= (development?) ? 'http' : 'https' %>://secure.hookfeed.<%= (development?) ? 'dev' : 'com' %>/users/new?s=9900_1001_5000&p=m_39900_10_1501_3000,m_24900_5_501_1500,m_12900_3_101_500,m_3900_2_26_100,m_0_1_0_25">Start Free Trial</a>
        </div>
      </div>

      <div class="four columns pricing_bucket">
        <div class="inner">
          <h2>Business</h2>
          <h3>$249<span>/month</span></h3>
          <ul>
            <li class="teammates_limit"><span>5</span><strong>Team Members</strong></li>
            <li class="customers_limit"><span>1,500</span><strong>Paying Customers</strong></li>
          </ul>
          <hr>
          <ul>
            <li>Customer Analytics</strong></li>
            <li>Instant Email Alerts</li>
            <li>Summary Emails</li>
            <li>Email Support</li>
          </ul>
          <a class="signup" href="<%= (development?) ? 'http' : 'https' %>://secure.hookfeed.<%= (development?) ? 'dev' : 'com' %>/users/new?s=9900_1001_5000&p=m_39900_10_1501_3000,m_24900_5_501_1500,m_12900_3_101_500,m_3900_2_26_100,m_0_1_0_25">Start Free Trial</a>
        </div>
      </div>

      <div class="four columns pricing_bucket">
        <div class="inner">
          <h2>Team</h2>
          <h3>$129<span>/month</span></h3>
          <ul>
            <li class="teammates_limit"><span>3</span><strong>Team Members</strong></li>
            <li class="customers_limit"><span>500</span><strong>Paying Customers</strong></li>
          </ul>
          <hr>
          <ul>
            <li>Customer Analytics</strong></li>
            <li>Instant Email Alerts</li>
            <li>Summary Emails</li>
            <li>Email Support</li>
          </ul>
          <a class="signup" href="<%= (development?) ? 'http' : 'https' %>://secure.hookfeed.<%= (development?) ? 'dev' : 'com' %>/users/new?s=3900_101_1000&p=m_39900_10_1501_3000,m_24900_5_501_1500,m_12900_3_101_500,m_3900_2_26_100,m_0_1_0_25">Start Free Trial</a>
        </div>
      </div>

      <div class="four columns pricing_bucket">
        <div class="inner">
          <h2>Starter</h2>
          <h3>$39<span>/month</span></h3>
          <ul>
            <li class="teammates_limit"><span>2</span><strong>Team Members</strong></li>
            <li class="customers_limit"><span>100</span><strong>Paying Customers</strong></li>
          </ul>
          <hr>
          <ul>
            <li>Customer Analytics</strong></li>
            <li>Instant Email Alerts</li>
            <li>Summary Emails</li>
            <li>Email Support</li>
          </ul>
          <a class="signup" href="<%= (development?) ? 'http' : 'https' %>://secure.hookfeed.<%= (development?) ? 'dev' : 'com' %>/users/new?s=1400_21_100&p=m_39900_10_1501_3000,m_24900_5_501_1500,m_12900_3_101_500,m_3900_2_26_100,m_0_1_0_25">Start Free Trial</a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="eight columns" id="enterprise">
        Need a custom plan? <a href="mailto:support@hookfeed.com">Email Us</a> or Call (714) 227-5034.
      </div>

      <div class="eight columns" id="free_plan">
        Collect less than <span>25</span> charges each month? Use our <a href="<%= (development?) ? 'http' : 'https' %>://secure.hookfeed.<%= (development?) ? 'dev' : 'com' %>/users/new?s=m_0_1_0_25&p=m_39900_10_1501_3000,m_24900_5_501_1500,m_12900_3_101_500,m_3900_2_26_100,m_0_1_0_25">free plan</a>.
      </div>
    </div><!-- END .row -->
  </div><!-- END #pricing.container -->
</section><!-- END #pricing_banner -->

<section id="testimonial_banner">
  <div class="container testimonial">
    <div class="twelve columns offset-by-two">
      <h2>"Before HookFeed we'd serve customers for months without realizing they hadn't paid. It's a no-brainer at the price and I'd highly recommend it!"</h2>
      <div class="dan-norris">
        <a href="https://twitter.com/thedannorris"><img src="https://s3.amazonaws.com/HookFeed/dan_norris.jpg" width="160" height="160" id="john" class="person scale-with-grid"></a>
        <h3><a href="https://twitter.com/thedannorris">Dan Norris</a></h3>
        <h4><a href="https://stripe.com">Founder of<img src="https://s3.amazonaws.com/HookFeed/wp_curve_logo.png" height="18"></a></h4>
      </div>
    </div>
  </div><!-- END #testimonial.container -->
</section><!-- END #testimonial -->

<section id="faqs_banner">
  <div id="faqs" class="container">

    <div class="sixteen columns">
      <h2>FAQs</h2>
    </div><!-- END .sixteen.columns -->

    <div class="row">
      <div class="left_half columns">
        <dl>
          <dt>Is HookFeed secure?</dt>
          <dd>Completely. When you connect HookFeed to your Stripe account you’re giving us <strong>read-only</strong> access. All interactions within the app are SSL-encrypted. And we'll never share your information with anyone. Have more questions? <a href="mailto:support@hookfeed.com">Just ask!</a></dd>

          <dt>Do I need to know how to code?</dt>
          <dd>Nope! You can connect your Stripe account to HookFeed in <b>one click</b>. Literally. No code necessary.</dd>

          <dt>Can I cancel anytime?</dt>
          <dd>Absolutely. We'll be sad to see you go, but if HookFeed isn't a good fit for your company, we completely understand. We make it incredibly easy to cancel your account, <strong>without needing to talk to us</strong>.</dd><br>
        </dl>
      </div><!-- END .left_half.columns -->

      <div class="right_half columns">
        <dl>
          <dt>What counts as a paying customer?</dt>
          <dd>A paying customer is <strong>anyone who paid you in the past 30 days</strong>, whether it was for a recurring or a one-off purchase.</dd>


          <dt>What if I go over my customer limit?</dt>
          <dd><b>We won't automatically upgrade or downgrade your account.</b> We understand you'll have occasional spikes or slumps, and that's okay! If we notice you're consistenty in the wrong tier we'll personally reach out before making any changes to your account.</dd>

          <dt>What if I have more questions?</dt>
          <dd>We'd love to have a chat via:<br>Email: <a href="mailto:support@hookfeed.com">support@hookfeed.com</a><br>Phone: (714) 227-5034</dd>
        </dl>
      </div><!-- END .right_half.columns -->
    </div><!-- END .row -->
  </div><!-- END #faqs.container -->
</section><!-- END #faqs_banner -->