---
title: "Pricing | HookFeed: Customer Analytics and Email Alerts for Stripe (SaaS/E-Commerce)"
priority: 1
changefreq: daily
layout: pricing_layout
---

<section id="pricing_banner">
  <div id="pricing" class="container">
    <div id="pricing_headlines" class="sixteen columns">
      <h1>Start Nurturing Your Customers</h1>
      <h2>Try HookFeed Free For 7 Days</h2>
    </div><!-- END #pricing_headlines -->
  </div>
</section>

<section id="pricing_details_banner">
  <div id="pricing_details" class="container">

    <div class="ten columns offset-by-three">
      <ul id="pricing_list" class="clearfix">
        <li class="clearfix">
          <span class="price">FREE</span>
          <ul>
            <li><span class="number">25</span> <span class="label customers_tooltip" data-tip="Number of *paying* customers/month">Customers</span></li>
            <li><span class="number">1</span> <span class="label teammates_tooltip" data-tip="Just You">Teammate</span></li>
          </ul>
          <a href="<%= (development?) ? 'http' : 'https' %>://secure.hookfeed.<%= (development?) ? 'dev' : 'com' %>/users/new?s=m_0_1_0_25&p=m_10000_10_501_1000,m_5000_5_251_500,m_2500_3_101_250,m_1000_2_26_100,m_0_1_0_25" class="signup">Sign Up</a>
        </li>

        <li class="clearfix">
          <span class="price">$10<span class="label">/mo.</span></span>
          <ul>
            <li><span class="number">100</span> <span class="label customers_tooltip" data-tip="Number of *paying* customers/month">Customers</span></li>
            <li><span class="number">2</span> <span class="label teammates_tooltip" data-tip="You + 1 teammates">Teammates</span></li>
          </ul>
          <a href="<%= (development?) ? 'http' : 'https' %>://secure.hookfeed.<%= (development?) ? 'dev' : 'com' %>/users/new?s=m_1000_2_26_100&p=m_10000_10_501_1000,m_5000_5_251_500,m_2500_3_101_250,m_1000_2_26_100,m_0_1_0_25" class="signup">Get Free Trial</a>
        </li>

        <li class="clearfix">
          <span class="price">$25<span class="label">/mo.</span></span>
          <ul>
            <li><span class="number">250</span> <span class="label customers_tooltip" data-tip="Number of *paying* customers/month">Customers</span></li>
            <li><span class="number">3</span> <span class="label teammates_tooltip" data-tip="You + 2 teammates">Teammates</span></li>
          </ul>
          <a href="<%= (development?) ? 'http' : 'https' %>://secure.hookfeed.<%= (development?) ? 'dev' : 'com' %>/users/new?s=m_2500_3_101_250&p=m_10000_10_501_1000,m_5000_5_251_500,m_2500_3_101_250,m_1000_2_26_100,m_0_1_0_25" class="signup">Get Free Trial</a>
        </li>

        <li class="clearfix">
          <span class="price">$50<span class="label">/mo.</span></span>
          <ul>
            <li><span class="number">500</span> <span class="label customers_tooltip" data-tip="Number of *paying* customers/month">Customers</span></li>
            <li><span class="number">5</span> <span class="label teammates_tooltip" data-tip="You + 4 teammates">Teammates</span></li>
          </ul>
          <a href="<%= (development?) ? 'http' : 'https' %>://secure.hookfeed.<%= (development?) ? 'dev' : 'com' %>/users/new?s=m_5000_5_251_500&p=m_10000_10_501_1000,m_5000_5_251_500,m_2500_3_101_250,m_1000_2_26_100,m_0_1_0_25" class="signup">Get Free Trial</a>
        </li>

        <li class="clearfix">
          <span class="price">$100<span class="label">/mo.</span></span>
          <ul>
            <li><span class="number">1,000</span> <span class="label customers_tooltip" data-tip="Number of *paying* customers/month">Customers</span></li>
            <li><span class="number">10</span> <span class="label teammates_tooltip" data-tip="You + 9 teammates">Teammates</span></li>
          </ul>
          <a href="<%= (development?) ? 'http' : 'https' %>://secure.hookfeed.<%= (development?) ? 'dev' : 'com' %>/users/new?s=m_10000_10_501_1000&p=m_10000_10_501_1000,m_5000_5_251_500,m_2500_3_101_250,m_1000_2_26_100,m_0_1_0_25" class="signup">Get Free Trial</a>
        </li>
      </ul>

      <div id="enterprise_notice">Need something custom? Call (858) 876-7228 or <a href="mailto:joelle.steiniger@hookfeed.com">email us</a>.</div>
    </div>
<!--
    <div class="six columns">
      <h3>All our plans include:</h3>
      <ul id="all_plans_include">
        <li>Customer Segmenting</li>
        <li>Instant Alerts</li>
        <li>Daily Summaries</li>
        <li>Help Scout Integration</li>
        <li>E-Mail Support</li>
      </ul>

      <div id="money_back_guarantee">
guarantee stuff
      </div>
    </div>-->
  </div><!-- END #pricing.container -->
</section><!-- END #pricing_banner -->

<section id="testimonial_banner">
  <div class="container testimonial">
    <div class="twelve columns offset-by-two">
      <h2>"Before HookFeed we'd serve customers for months without realizing they hadn't paid. It's a no-brainer at the price and I'd highly recommend it!"</h2>
      <div class="dan-norris">
        <a href="https://twitter.com/thedannorris"><img src="https://d2uerwjzv5u4r9.cloudfront.net/dan_norris.jpg" width="160" height="160" id="john" class="person scale-with-grid"></a>
        <h3><a href="https://twitter.com/thedannorris">Dan Norris</a></h3>
        <h4><a href="https://stripe.com">Founder of<img src="https://d2uerwjzv5u4r9.cloudfront.net/wp_curve_logo.png" height="18"></a></h4>
      </div>
    </div>
  </div><!-- END #testimonial.container -->
</section><!-- END #testimonial -->

<section id="faqs_banner">
  <div id="faqs" class="container">

    <div class="sixteen columns">
      <h2>FAQs</h2>
    </div><!-- END .sixteen.columns -->

    <div class="row">
      <div class="left_half columns">
        <dl>
          <dt>Is HookFeed secure?</dt>
          <dd>Completely. When you connect HookFeed to your Stripe account you’re giving us <strong>read-only</strong> access. All interactions within the app are SSL-encrypted. And we'll never share your information with anyone. Have more questions? <a href="mailto:support@hookfeed.com">Just ask!</a></dd>

          <dt>Do I need to know how to code?</dt>
          <dd>Nope! You can connect your Stripe account to HookFeed in <b>one click</b>. Literally. No code necessary.</dd>

          <dt>Can I cancel anytime?</dt>
          <dd>Absolutely. We'll be sad to see you go, but if HookFeed isn't a good fit for your company, we completely understand. We make it incredibly easy to cancel your account, <strong>without needing to talk to us</strong>.</dd><br>
        </dl>
      </div><!-- END .left_half.columns -->

      <div class="right_half columns">
        <dl>
          <dt>What counts as a paying customer?</dt>
          <dd>A paying customer is <strong>anyone who paid you in the past 30 days</strong>, whether it was for a recurring or a one-off purchase.</dd>


          <dt>What if I go over my customer limit?</dt>
          <dd><b>We won't automatically upgrade or downgrade your account.</b> We understand you'll have occasional spikes or slumps, and that's okay! If we notice you're consistenty in the wrong tier we'll personally reach out before making any changes to your account.</dd>

          <dt>What if I have more questions?</dt>
          <dd>We'd love to have a chat via:<br>Email: <a href="mailto:support@hookfeed.com">support@hookfeed.com</a><br>Phone: (858) 876-7228</dd>
        </dl>
      </div><!-- END .right_half.columns -->
    </div><!-- END .row -->
  </div><!-- END #faqs.container -->
</section><!-- END #faqs_banner -->